.about {
    padding: 4rem 2rem;
    background-color: #F2F2F2;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1;
    padding-right: 2rem;
    max-width: 500px;
}

.about-text h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom:  1rem;
}

.about-image {
    flex: 0 0 300px;
}

.about-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0,1);
}

@media (max-width: 768px) {
    .about-content {
      flex-direction: column-reverse;
    }
  
    .about-text {
      padding-right: 0;
      padding-top: 2rem;
    }
  
    .about-image {
      flex: 0 0 200px;
    }
}