.highlight {
    position: relative;
    display: inline-block;
}

.marker {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px; /* marker's thickness */
    background-color: #ffb6c1;
    transform-origin: left;
    z-index: 0;
    opacity: 0.5;
}